.box {
	$parent: &;

	box-shadow: var(--shadow, none);

	&,
	&--pad-sm {
		padding: 20px;
	}

	&--pad-md {
		padding: 30px;
	}

	&--pad-lg {
		padding: 40px;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
